/*  

* License: MIT License https://github.com/Waveluvs/pzlnopecss/blob/main/LICENSE
* Plznope v0.0.1 (https://waveluvs.github.io/pzlnopecss/)
* Copyright 2022 Waveluvs (https://github.com/Waveluvs/)

*/

:root{

    --font-fa: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    --nope: none;
    --at: auto;
    --zero: 0;

}

*,
::after,
::before{

    margin: var(--zero);
    padding: var(--zero);
    box-sizing: border-box;

}

a{

    text-decoration: var(--nope);
    transition: .3s;

}

a:hover{

    transition: .3s;

}

ul,
ol,
li{

    list-style: var(--nope);

}

h1,h2,h3,
h4,h5,h6{

    font-weight: 700;
    letter-spacing: .3px;

}

p{

    font-family: var(--font-fa);
    font-weight: 500;
    letter-spacing: .3px;
    line-height: 23px;

}

html,
body{

    font-family: var(--font-fa);
    font-weight: 600;
    min-height: 100vh;
    
}

details{

    list-style-type: var(--nope);
    font-family: var(--font-fa);
    text-decoration: none;

}

button,
input{

    border: var(--zero);

}