@import url(pzlnope_v0.0.2.css);

:root{
    --colr-primary:#FF6B6B;
    --colr-secondary:#24292F;
    --colr-whi:white;
    --at: auto;
    --bl: royalblue;
    --or: rgb(212, 101, 60);
    --lb: rgb(104, 137, 238);
}

a{
    color: var(--colr-primary);
}

a:hover{
    color:var(--colr-secondary)
}

.github{
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: var(--colr-whi);
    background-color: var(--colr-secondary);
}

.wrapper{
    max-width: 960px;
    margin: 0 var(--at);
}

.logo{
    display: flex;
    margin: 5vh 0 50px 0;
    justify-content: center;
    width: 100%;
}

.logo img{
    border-radius: 15px;
    height: 136px;
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: center;
    font-size: 18px;
    gap: 20px;
    text-transform: uppercase;
}

.title{
    margin: 5vh 0;
    text-align: center;
    font-size: 24px;
}

.code{
    border-radius: 20px;
    height: var(--at);
    padding: 15px 0;
    box-shadow: 0 0 15px 5px #FF9A8B;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}

.in-code{
    width: 96.5%;
    background-color: var(--colr-secondary);
    margin: 0 var(--at);
    padding: 10px 30px;
    border-radius: 5px;
    color: var(--colr-whi);
    overflow: auto;
}

summary{
    width: 125px;
    transition: .3s;
}

summary:hover{
    color: var(--bl);
    transition: .3s;
}

.about{
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    height: var(--at);
}

.about p{
    font-size: 24px;
    padding: 10px 0;
}

.cdn{
    overflow: auto;
}

.bl{
    color: var(--bl);
}

.or{
    color: var(--or);
}

.lb{
    color: var(--lb);
}

.hide{
    display: none;
}

.btn-swi{
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    display: flex;
    gap: 20px;
}

.av{
    padding: 10px;
    background-color: #EFEFEF;
    border-radius: 20px;
}
.active{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.no-active{
    padding: 10px;
}
#version{
    cursor: pointer;
}

footer{
    padding: 10vh 0;
}

footer a{
    text-transform: capitalize;
    color: var(--colr-secondary);
}

footer a:hover{
    color: var(--colr-primary);
}

@media (max-width:393px){
    .logo img{
        width: 393px;
        height: auto;
    }
}

@media (max-width:390px){
    .logo img{
        width: 390px;
        height: auto;
    }
}

@media (max-width:375px){
    .logo img{
        width: 375px;
        height: auto;
    }
}

@media (max-width:360px){
    .logo img{
        width: 360px;
        height: auto;
    }
}

@media (max-width:280px){
    .logo img{
        width: 280px;
        height: auto;
    }
}
